@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hammersmith+One&family=Heebo:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hammersmith+One&family=Heebo:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Mega:wght@100..900&family=Roboto+Slab:wght@100..900&family=Sriracha&display=swap');
nav{
    width: 100%;
    height: 10vh;
    background-color: #c18d68;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.innav{
    width: 60%;
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
}
.innav2{
    display: flex;
    width: 40%;
    color: white;
    gap: 2%;
    justify-content: flex-end;
    margin-right: 2%;
}
header {
    display: flex;
    width: 100%;
}

.back {
    width: 15%;
    display: flex;
    justify-content: center;
}

.title {
    width: 70%;
    display: flex;
    justify-content: center;
}

.back a {
    border-radius: 10px;
    text-decoration: none;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    padding: 2.8%;
    color: white;
    background-color: #513D31;
    height: 2vw;
}

.img1 {
    background-size: cover;
    background-position: center;
    width: 15%;
    height: 90%;
    border-radius: 10PX;
    transition: .4s;
    cursor: pointer;
}
.img1:hover{
    transform: scale(1.05);
}
.con{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.incon2{
    width: 60vw;
    background-color: #d9c3b0;
    height: 5vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 1.5vw;
    margin-bottom: 2%;
}
.incon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    margin-right: 2%;
    font-size: 1.5vw;
    width: 10vh;
}
.incon3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
}
.icon{
    font-size: 6vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    font-size: 3vw; width: 100%; height: 100%;display: flex; align-items: center; cursor: pointer;
}