<p>standing works!</p>
<nav
  style="
    width: 100%;
    height: 10vh;
    background-color: #c18d68;
    display: flex;
    justify-content: space-between;
    align-items: center;
  "
>
  <div
    style="
      width: 60%;
      display: flex;
      color: white;
      justify-content: flex-start;
      align-items: center;
      gap: 2%;
    "
  >
    <div style="width: 15%; height: 10%">
      <img src="../../../assets/logo.png" alt="" width="100%" height="100%" />
    </div>
    <div style="font-size: 1.5vw; display: flex; gap: 2%; width: 80%">
      <div>USER Name</div>
      <div>YOUR STATUS</div>
      <div>STANDING</div>
      <div>UPLOAD/EDIT</div>
      <div>Your Food</div>
    </div>
  </div>
  <div
    style="
      display: flex;
      width: 40%;
      color: white;
      gap: 2%;
      justify-content: flex-end;
      margin-right: 2%;
    "
  >
    <div>
      <mat-icon
        style="font-size: 4vw; width: 100%; height: 100%"
        fontIcon="person"
      ></mat-icon>
    </div>
    <div style="font-size: 3.5vw; font-weight: bolder; color: black">|</div>
    <div>
      <mat-icon
        style="font-size: 4vw; width: 100%; height: 100%"
        fontIcon="logout"
      ></mat-icon>
    </div>
  </div>
</nav>

<body style="width: 100%; background-color: #f5f5ef">
  <div class="head" style="width: 100%; display: flex; padding: 2%">
    <div
      style="
        width: 20vh;
        height: 5vh;
        border-radius: 20px;
        font-size: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6b4e28;
        color: white;
      "
    >
      <div>back</div>
    </div>
    <div
      style="
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
      "
    >
      <div>STANDING</div>
    </div>
  </div>

  <div
    class="con"
    style="
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div class="st">
      <div style="display: flex">
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5vw;
            margin-right: 2%;
            font-size: 1.5vw;
            width: 10vh;
          "
        >
          <div style="height: 100%; width: 100%">
            <mat-icon
              fontIcon="arrow_upward"
              style="
                font-size: 6vh;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            ></mat-icon>
          </div>
          <div>1</div>
        </div>
        <div
          style="
            width: 60vw;
            background-color: #d9c3b0;
            height: 5vw;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: black;
            font-size: 1.5vw;
            margin-bottom: 2%;
          "
        >
          <div
            style="
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-weight: bold;
            "
          >
            <div style="margin-left: 10%; margin-right: 10%">1</div>
            <div style="width: 40%; height: 20%">
              <img
                src="../../../assets/stfood.png"
                alt=""
                width="100%"
                height="100%"
              />
            </div>
          </div>
          <div style="margin-right: 10%">145 คะแนน</div>
        </div>
      </div>



      <div style="display: flex">
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5vw;
            margin-right: 2%;
            font-size: 1.5vw;
            width: 10vh;
          "
        >
          <div style="height: 100%; width: 100%">
            <mat-icon
              fontIcon="arrow_upward"
              style="
                font-size: 6vh;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            ></mat-icon>
          </div>
          <div>1</div>
        </div>
        <div
          style="
            width: 60vw;
            background-color: #d9c3b0;
            height: 5vw;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: black;
            font-size: 1.5vw;
            margin-bottom: 2%;
          "
        >
          <div
            style="
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-weight: bold;
            "
          >
            <div style="margin-left: 10%; margin-right: 10%">2</div>
            <div style="width: 40%; height: 20%">
              <img
                src="../../../assets/stfood.png"
                alt=""
                width="100%"
                height="100%"
              />
            </div>
          </div>
          <div style="margin-right: 10%">145 คะแนน</div>
        </div>
      </div>



      <div style="display: flex">
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5vw;
            margin-right: 2%;
            font-size: 1.5vw;
            width: 10vh;
          "
        >
          <div style="height: 100%; width: 100%">
            <mat-icon
              fontIcon="arrow_upward"
              style="
                font-size: 6vh;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            ></mat-icon>
          </div>
          <div>1</div>
        </div>
        <div
          style="
            width: 60vw;
            background-color: #d9c3b0;
            height: 5vw;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: black;
            font-size: 1.5vw;
            margin-bottom: 2%;
          "
        >
          <div
            style="
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-weight: bold;
            "
          >
            <div style="margin-left: 10%; margin-right: 10%">3</div>
            <div style="width: 40%; height: 20%">
              <img
                src="../../../assets/stfood.png"
                alt=""
                width="100%"
                height="100%"
              />
            </div>
          </div>
          <div style="margin-right: 10%">145 คะแนน</div>
        </div>
      </div>



      <div style="display: flex">
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5vw;
            margin-right: 2%;
            font-size: 1.5vw;
            width: 10vh;
          "
        >
          <div style="height: 100%; width: 100%">
            <mat-icon
              fontIcon="arrow_upward"
              style="
                font-size: 6vh;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            ></mat-icon>
          </div>
          <div>1</div>
        </div>
        <div
          style="
            width: 60vw;
            background-color: #d9c3b0;
            height: 5vw;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: black;
            font-size: 1.5vw;
            margin-bottom: 2%;
          "
        >
          <div
            style="
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-weight: bold;
            "
          >
            <div style="margin-left: 10%; margin-right: 10%">4</div>
            <div style="width: 40%; height: 20%">
              <img
                src="../../../assets/stfood.png"
                alt=""
                width="100%"
                height="100%"
              />
            </div>
          </div>
          <div style="margin-right: 10%">145 คะแนน</div>
        </div>
      </div>




      <div style="display: flex">
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5vw;
            margin-right: 2%;
            font-size: 1.5vw;
            width: 10vh;
          "
        >
          <div style="height: 100%; width: 100%">
            <mat-icon
              fontIcon="arrow_upward"
              style="
                font-size: 6vh;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            ></mat-icon>
          </div>
          <div>1</div>
        </div>
        <div
          style="
            width: 60vw;
            background-color: #d9c3b0;
            height: 5vw;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: black;
            font-size: 1.5vw;
            margin-bottom: 2%;
          "
        >
          <div
            style="
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-weight: bold;
            "
          >
            <div style="margin-left: 10%; margin-right: 10%">5</div>
            <div style="width: 40%; height: 20%">
              <img
                src="../../../assets/stfood.png"
                alt=""
                width="100%"
                height="100%"
              />
            </div>
          </div>
          <div style="margin-right: 10%">145 คะแนน</div>
        </div>
      </div>



      <div style="display: flex">
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5vw;
            margin-right: 2%;
            font-size: 1.5vw;
            width: 10vh;
          "
        >
          <div style="height: 100%; width: 100%">
            <mat-icon
              fontIcon="arrow_upward"
              style="
                font-size: 6vh;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            ></mat-icon>
          </div>
          <div>1</div>
        </div>
        <div
          style="
            width: 60vw;
            background-color: #d9c3b0;
            height: 5vw;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: black;
            font-size: 1.5vw;
            margin-bottom: 2%;
          "
        >
          <div
            style="
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-weight: bold;
            "
          >
            <div style="margin-left: 10%; margin-right: 10%">6</div>
            <div style="width: 40%; height: 20%">
              <img
                src="../../../assets/stfood.png"
                alt=""
                width="100%"
                height="100%"
              />
            </div>
          </div>
          <div style="margin-right: 10%">145 คะแนน</div>
        </div>
      </div>

    </div>
  </div>
</body>
