<nav>
  <div class="innav" >
    <div style="width: 15%; height: 10%">
      <img src="../../../assets/img/logo-modified.png" alt="" width="100%" height="100%" />
    </div>
    <div class="menu">
      <a routerLink="">USER Name</a>
      <a routerLink="">YOUR STATUS</a>
      <a routerLink="/stand">STANDING</a>
      <a routerLink="/upload">UPLOAD/EDIT</a>
    </div>
  </div>
  <div class="innav2">
    <div>
      <mat-icon class="login"

        fontIcon="person"
      ></mat-icon>
    </div>
    <div style="font-size: 3.5vw; font-weight: bolder; color: black">|</div>
    <div>
      <mat-icon class="login"
        fontIcon="logout"
      ></mat-icon>
    </div>
  </div>
</nav>

<body style="width: 100%; background-color: #f5f5ef">
  <header>
    <div class="back">
      <a  (click)="back()"><h2>BACK</h2></a>
    </div>
    <div class="title">
      <div>
        <h1>WHICH MENU IS BETTER?</h1>
        <p>Choose the food you like most from these two menus.</p>
      </div>
    </div>
  </header>

  <div
    class="con" *ngFor="let i, of this.data " style="background-color: #f5f5ef">
    <div class="st"  >

      <div style="display: flex">
        <div class="incon">
          <div style="height: 100%; width: 100%">
            <mat-icon class="icon" fontIcon="arrow_upward"></mat-icon>
          </div>
          <div>1</div>
        </div>
        <div class="incon2">
          <div class="incon3">
            <div style=" margin-right: 2%">1.)</div>
            <div class="img1" style="background-image: url({{i.url}});">
            </div>
          </div>
          <div style="margin-right: 2%;width: 20%;">145 คะแนน</div>
        </div>
      </div>


    </div>
       
  </div>
</body>
