@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hammersmith+One&family=Heebo:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hammersmith+One&family=Heebo:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Mega:wght@100..900&family=Roboto+Slab:wght@100..900&family=Sriracha&display=swap');

body {
    background-image: url("../../../assets/img/re.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.main {
    display: flex;
    width: 85%;
}

.right {
    width: 50%;

}

.right a {
    margin-left: 6%;
    background-color: #513D31;
    color: white;
    padding: 1.2%;
    text-decoration: none;
    font-size: 1.3vw;
    border-radius: 10px;

}

.logo {
    margin-bottom: 1vw;
}

.titole {
    margin-top: 5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10vw;
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.titole h1{
    font-size: 6vw;
}

.title2 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Lexend Mega", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.title2 h2{
    font-size: 1.8vw;
}

.left {
    width: 50%;
    display: flex;
    align-items: center;
    height: 100%;
}

.carto {
    width: 70%;
    background-color: rgba(245, 245, 239, 0.8); 
    height: 75%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
label{
    font-family: "Lexend Mega", sans-serif;
}
.form{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
}
.mb-3 {
    width: 23vw;
}
.form input{
    width: 100%;
    height: 2vw;
    border-radius: 10px;
    border: 1px solid white;
}
.register{
    margin-top: 1.5vw;
    width: 100%;
    display: flex;
    justify-content: center;
}