<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="">
                <img src="../../../assets/img/logo-modified.png" alt="" width="150vw">
            </a>
        </div>
        <div class="text">
            <h2>LA LUNE FRENCH BISTRO</h2>
        </div>
    </header>
    <main>
        <h1 style="margin-right:5px;">A T</h1>
        <h1 style="margin-right:5px;"> A</h1>
        <h1 style="margin-right:5px;"> S</h1>
        <h1 style="margin-right:5px;"> T</h1>
        <h1 style="margin-right:5px;">E O</h1>
        <h1 style="margin-right:5px;">F F</h1>
        <h1 style="margin-right:5px;">O</h1>
        <h1 style="margin-right:5px;"> O</h1>
        <h1 style="margin-right:5px;"> D</h1>
       
    </main>
    <div class="btn">
        <div class="btn1" style="width: 100%; display: flex; justify-content: center;">
            <a href="/login ">login</a>
        </div>
        <div class="btn1"  style="width: 100%; display: flex; justify-content: center;">        
            <a href="/regis">register</a>
        </div>
        <div class="guess">        
            <div (click)="test()" style="text-decoration: underline; margin-top: 4vh;" href="">user test></div>
        </div>
    </div>
</body>
</html>