<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav *ngIf="x != 2;else xxx">
        <div class="innav" >
          <a routerLink="/user"  style="width: 15%; height: 10%">
            <img src="../../../assets/img/logo-modified.png" alt="" width="100%" height="100%" />
          </a>
          <div class="menu">
            <div style=" color: beige;">USER: {{name}}</div>
            <a routerLink="">YOUR STATUS</a>  
            <a routerLink="/standing">STANDING</a>
            <a routerLink="/upload">UPLOAD/EDIT</a>
          </div>
        </div>
        <div class="innav2">
          <a routerLink="/profile" style="    background-image: url('{{imgProfile}}');
          ">
            
          </a>
          <div style="font-size: 3.5vw; font-weight: bold; color: black">|</div>
          <div (click)="logout()">
            <mat-icon class="login" 
              fontIcon="logout"
            ></mat-icon>
          </div>
        </div>
      </nav>
      <ng-template #xxx>
        <nav>
          <div class="innav">
            <div style="width: 15%; height: 10%">
              <img src="../../../assets/img/logo-modified.png" alt="" width="100%" height="100%" />
            </div>
            <div style="font-size: 2vw;font-weight: bolder;">Temporary user</div>
            <div style="width: 30%; height: 5vw">
              <mat-icon
                style="font-size: 4vw; width: 100%; height: 100%;margin-top: .4vw;"
                fontIcon="person"
              ></mat-icon>
            </div>
          </div>
          <div class="n2">
            <div class="n3">
              <a [routerLink]="['/standing']" [queryParams]="{ user: 0 }" style="text-decoration: none; color: white;">STANDING</a>
        
            </div>
            <div style="font-size: 2vw; font-weight: bolder; color: black">|</div>
            <div class="n4">
              <a routerLink="/login">LOGIN</a>
            </div>
          </div>
        </nav>
      </ng-template>
      <header>
        <div class="back">
          <a  (click)="back()"><h2>BACK</h2></a>
        </div>
        <div class="title">
          <div  class="inTitle">
            <h1>HISTORYCAL DAILY STATISTIC</h1>
          </div>
        </div>
      </header>
      <div class="st" style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 1vw;">
        <div style="width: 37%;">
          <div style="width: 100%; height: 100%;">
            <canvas id="myChart" width="100%" height="100%"></canvas>
          </div>
        </div>
      </div>   
</body>
</html>