<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
  <div class="innav">
    <div style="width: 15%; height: 10%">
      <img src="../../../assets/img/logo-modified.png" alt="" width="100%" height="100%" />
    </div>
    <div style="font-size: 2vw;font-weight: bolder;">Temporary user</div>
    <div style="width: 30%; height: 5vw">
      <mat-icon
        style="font-size: 4vw; width: 100%; height: 100%;margin-top: .4vw;"
        fontIcon="person"
      ></mat-icon>
    </div>
  </div>
  <div class="n2">
    <div class="n3">
      <a [routerLink]="['/standing']" [queryParams]="{ user: 0 }" style="text-decoration: none; color: white;">STANDING</a>

    </div>
    <div style="font-size: 2vw; font-weight: bolder; color: black">|</div>
    <div class="n4">
      <a routerLink="/login">LOGIN</a>
    </div>
  </div>
</nav>
<header>
  <div class="back">
    <a  href=""><h2>BACK</h2></a>
  </div>
  <div class="title">
    <div>
      <h1>WHICH MENU IS BETTER?</h1>
      <p>Choose the food you like most from these two menus.</p>
    </div>
  </div>
</header>
<main>
  <!-- <div class="img1" style="background-image: url({{this.image?.image1}});" (click)="Awin()">
  </div>
  <h1>OR</h1>
  <div class="img1" style="background-image: url({{this.image?.image2}});" (click)="Bwin()">
  </div> -->


  <div class="img1" style="background-image: url({{this.image?.image1}});"(click)="open(1)">
  </div>
  <h1>OR</h1>
  <div class="img1" style="background-image: url({{this.image?.image2}});"(click)="open(2)">
  </div>

</main>


</body>
</html>
