<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <nav>
        <div class="innav" >
          <div style="width: 15%; height: 10%">
            <img src="../../../assets/img/logo-modified.png" alt="" width="100%" height="100%" />
          </div>
          <div style="font-weight: bolder; font-size: 1.5vw; display: flex; gap: 2%; width: 80%">
            <div>USER Name</div>
            <div>YOUR STATUS</div>
            <div>STANDING</div>
            <div>UPLOAD/EDIT</div>
          </div>
        </div>
        <div class="innav2">
          <div>
            <mat-icon class="login"
              fontIcon="person"
            ></mat-icon>
          </div>
          <div style="font-size: 3.5vw; font-weight: bolder; color: black">|</div>
          <div>
            <mat-icon class="login"
              fontIcon="logout"
            ></mat-icon>
          </div>
        </div>
      </nav>
<header>
  <div class="back">
    <a  href=""><h2>BACK</h2></a>
  </div>
  <div class="title">
    <div style="font-size: 1vw; display: flex; justify-content: center; border-radius: 20px; margin-top: 1vw; width: 14vw; height: 5vw; background-color: white;   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);">
      <h1>UPLOAD/EDIT</h1>
    </div>
  </div>
</header>
<main >
    <div class="edit" style=" width: 80%;">
        <div *ngFor="let item of img" class="edit1">
            <div *ngIf="item.url!=null; else xxx"  class="img" style=" background-image: url({{item.url}})">
            </div>
        <ng-template #xxx class="edit1">
            <div  style="height:6.8vw; align-items: center; display: flex; justify-content: center;">
                <input type="file" >
            </div>
            
        </ng-template>
        <div class="btn">
            <div *ngIf="item.url!=null; else xxx2"  class="point">
                <h2>{{item.point}} point</h2> 
            </div>
            <ng-template #xxx2>
                <div class="point">
                    <h2>-</h2> 
                </div>
            </ng-template>
            <div class="edit2" >
                    <h2>EDIT</h2>
            </div>
              </div>
        </div>
   
       
    </div>
  

</main>


</body>
</html>
